<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Careers</h3>

            <h4>Full Stack Ruby on Rails Developer</h4>

            <h5><u>Job Description</u></h5>

            <p>

                Keeping sight of the big picture while developing well-architected SaaS solutions excites you? You have strong experience in working with Ruby on Rails to build blazing fast web interfaces. Building disruptive solutions on the cloud sounds exciting? Then you are the one we are looking for to strengthen our engineering team!
                <br><br>

                This is an exciting full-time opportunity for mid-/senior-level RoR developers who are interested in defining and revising the architecture direction, building key elements of it and providing thought leadership. You will design, develop and ship innovative new user experiences for the K-12 education industry and assist in monitoring the production service to ensure reliability and performance.
                <br><br>
                You will have a lot of freedom, and as a result, own a lot of responsibility. Take features from conception to completion and become a core member of the development team at every level of the platform stack!
            </p>

           <h5><u>Responsibilities</u></h5>
           <p>
            - Collaborate on application design, including data modeling and application architecture.
            <br>
            - Maintain, enhance, and troubleshoot existing Ruby on Rails applications.
            <br>
            - Communicate issues clearly while working toward a deadline.
            <br>
            - Work independently or with a group of developers.
            <br>
            - Manage and scale infrastructure on AWS and DigitalOcean
            </p>
            <h5><u>Credentials</u></h5>
            <p>
                - BS in Computer Science or a related technical field highly desired, MS is a plus
                <br>
                - 4+ years of experience building and shipping de-coupled web based services
                <br>
                - Minimum of 3 years of Ruby on Rails, JavaScript web development skills
                <br>
                - Culture of writing automatic tests
                <br>
                - Great communication skills, solution oriented attitude and working with geo-distributed teams
            </p>
            <h5><u>Skills</u></h5>
            <p>
            - Ruby on Rails
            <br>- HTML, CSS, Bootstrap
            <br>- SQL (we’re on Postgres)
            <br>- Git
            <br>- Capistrano
            <br>- AWS APIs
            <br>- Experience with testing and CI—we're working with the usual Ruby gems like Rspec, Capybara and others for unit and feature tests and use CircleCI to bring it all together.
            </p>
            <h5><u>About SmilePrep</u></h5>
            <p>
                We are a SaaS (Software as a Service) company disrupting the K-12 education space. We're a fast growing startup with revenues and are situated in T-Hub, India's largest incubator campus for entrepreneurs. 
                <br><br>

                Get the chance to work with a veteran founding team of IIT, IIM and Wharton alumni who have previously raised over Rs100 crores in venture funding and grown companies to over Rs.700 crores in revenues and to successful exits.

                <br><br>

                We are a fast growing company with lots of emerging opportunities. As such, we are always looking for passionate, talented and entrepreneurial people who would like to join our international team to help us build a tremendously successful company.
            </p>
            <h5><u>Our Offer</u></h5>
            <p>
                - Best IT equipment available so you can do what you do best
                <br>- Become part of our friendly team that works together. We want to teach you what we know and learn from you what we don't.
                <br>- A fantastic office space in the T-Hub campus. Come ideate and immerse yourself in startup nirvana
                <br>- Competitive Market Salaries
                <br>- Stock Options
            </p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

