<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Frequently Asked Questions
            </h1>
            <p class="lead">Click on each question below to read answers to our most commonly asked questions. Don't see your question here? <%= link_to 'Contact Us', page_path('contact') %></p>

        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What are the exact steps to getting started with SmilePrep?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            To enroll, just <%= link_to 'click here', new_user_registration_path  %>. First, you choose a login name -- this can be either the student or parent email, it doesn’t matter. Then, choose a password, ideally one that can be shared between the parent and student. Then, enter your payment information – your card won’t be charged during the free trial. Right afterwards, you have full access to the program! If you want to start learning immediately, you are absolutely free to. We have no lengthy manual onboarding process, no mandatory wait periods. Yet if you’re not ready to start yet for a few days, that’s fine too. Simply log back in in a few days and pick up where you left off.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How many hours do you need to finish the program? How many weeks do I need, minimum or maximum?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Our platform  covers the entire syllabus for the exam you are preparing for. For CBSE Foundation and IIT JEE prep you should expect to use SmilePrep throughout the year as a supplement to your regular school work. As you complete chapters in the syllabus you will complete assessments in SmilePrep. Your teachers will  have access to your resuls and will customize intervention in the form of tutorials or additional classes in the areas you need help on. SmilePrep should not add any additional time to your current preparation routine. On the other hand it will allow you to study smarter by identifying your areas of opportunity and addressing them.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Is this all online? Do I need to drive to a prep center? What other equipment do I need?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            The program is 100% all online, with the exception of real paper practice tests we may occassionally mail you. You do NOT need to drive anywhere or meet in any prep centers. All you need for our program is an internet connection and a modern computer – generally any computer from the last 10 years is fine.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Do I need to pre-schedule time for program? Can I work on the program any time I like?</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            If you signed up for SmilePrep directly you can use our program just like you use the rest of the Internet: you do NOT need to schedule anything beforehand. Everything is accessible whenever you like, whether it’s 6AM, 4PM, or 11PM. Work as many hours per week as you’d like, or as few as you’d like. Pause the program whenever you’d like, even in the middle of a lesson or test. However, if you signed up for SmilePrep through your school then tests will be assigned weekly based on the chapters being covered in school and you may have to access SmilePrep using school lab computers during preset times. 


                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How can you hold the student accountable to studying? I’m a parent and want to make sure my child uses your program.</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            We record every hour that your student spends on our platform as well as the time they spend on assessments. SmilePrep believes success is an outcome of a partnership between the teacher, student and parent. We  give the teacher, parent and the student a weekly progress report summarizing all the assessment results for that week.  Our timer counts only actual time spent learning, and not time browsing Facebook, chatting, or reading email. Our automatic weekly report makes sure everyone is on the same page.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How can I see my progress through the program?</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            On the Progress dashboard you can see your progress against the syllabus for the class you are in. You also have access to your most recent activity and test results. You can search for any tests you have completed and review results whenever you want.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How can I make sure my student will work well in your online environment?</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            Our program has been proven to increase student ranks. The best way to make sure the online format and our powerful method of improving your score is to really try it yourself. No amount of description can match the understanding you gain from actually trying out SmilePrep. To aid in that, we have a generous free trial program for you to try 5 tests in any subject. Use our program without paying for up to five days.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
