<div class="container">
  <div class="row mt30">
    <div class="col-md-12 border-bottom">
      <%= link_to "Back to Syllabus List", @back_url %>
    </div>

    <div class="col-md-10 mt30">
      <%= render 'form' %>
    </div>
  </div>
</div>