
// Color variables
$c-black: #000;
$c-main-black: #333;
$c-gray-text: #777;
$c-mark-color: #FD9B51;
$c-red-color: #920000;

// Bootstrap-select
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);
$width-default: 220px; // 3 960px-grid columns
$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)